SECRET_KEY = "ad85e41b8da309fa447aa5c81985bea4a112ad3b91c4b91175346b33a74b5ff3"
DATABASE_USER = root 
DATABASE_PASSWORD = 12345678
DATABASE_HOST = 127.0.0.1
DATABASE_PORT = 3306
DATABASE_NAME = team_project_db
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 30


CORS_ORIGINS = http://localhost:5173
