SECRET_KEY = ""
DATABASE_USER = ""
DATABASE_PASSWORD = ""
DATABASE_HOST = ""
DATABASE_PORT = ""
DATABASE_NAME = ""
ALGORITHM = ""

REFRESH_TOKEN_EXPIRE_DAY = ""
ACCESS_TOKEN_EXPIRE_MINUTES = ""

MAX_FILE_SIZE_STRING = ""
ALLOWED_EXTENSIONS_STRING = ""
ALLOWED_MIME_TYPES_STRING = ""
UPLOAD_DIR = ""

CORS_ORIGINS_STR = ""